.loginContainer {
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    max-width: 40%;
}

.logoCaption {
    display: block;
    font-size: 13px;
}

.header {
    margin-top: 20%;
}

.loginForm {
    margin-top: 30%;
}

.fieldContainer {
    width: 100%;
    margin-top: 5%;
}

.loginInput {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    border-radius: 1px;
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.loginInput:focus {
    box-shadow: 0 2px 5px #00000066;
    outline: none;
}

.errorInput {
    border-color: #F85858AA;
}

.errorInput:focus {
    box-shadow: 0 2px 7px #F85858AA;
}

.submitButton {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10% 10% 0;
    background-color: #F85858;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-width: 0;
    color: white;
    box-shadow: 0 15px 40px -10px #F85858CC;
}

.submitButton:focus {
    outline: none;
}

.submitButton:hover {
    box-shadow: 0 20px 50px -10px #F85858CC;
    outline: none;
}

.disabledButton {
    background-color: grey;
    box-shadow: 0 15px 40px -10px #00000044;
}

.disabledButton:hover {
    box-shadow: 0 15px 40px -10px #00000044;
}

.errorContainer {
    position: absolute;
    bottom: 160px;
    left: 56px;
    width: 70%;
    max-width: 764px;
    background-color: #F85858;
    box-shadow: 0 13px 25px -10px #00000044;
    border-radius: 5px;
    color: white;
    opacity: .85;
}

.errorContainer > div {
    padding: 8px 16px 8px 24px;
    text-align: left;
}

.errorContainer > div:first-child {
    margin-top: 8px
}

.errorContainer > div:last-child {
    margin-bottom: 8px
}

.hidebox {
    opacity: 0;
}
